$font-family: "Raleway", sans-serif;
$font-family1: "Lato", sans-serif;
.main_text{
    p{
        margin-top: 140px;
        font-family: $font-family;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 46px;
        text-align: center;
    }

}
.main_card{
    display: grid;
    grid-template-columns: auto auto  auto;

}
.main_card1{
    border-left: 2px solid gray;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 60px;
    p{
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        color: gray;
        margin-left: 20px;
    }
    span{
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        color: rgba(61, 74, 57, 1);
        margin-left: 20px;
    }
    img{
        margin-left: 20px;
    }
}
.main_card2{
    width: 393px;
    border-left: 2px solid gray;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 60px;
    p{
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        color: gray;
        margin-left: 20px;
    }
    span{
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        color: rgba(61, 74, 57, 1);
        margin-left: 20px;
    }
    img{
        margin-left: 20px;
    }
}
.main_card3{
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 60px;
    p{
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        color: gray;
        margin-left: 20px;
    }
    span{
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        color: rgba(61, 74, 57, 1);
        margin-left: 20px;
    }
    img{
        margin-left: 20px;
    }
}

.main_brend{
    margin-top: 140px;
    background-color:rgba(61, 74, 57, 1);
    .brend_text{
        text-align: center;
        padding-top: 100px;
        p{
            font-family: $font-family;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 46px;
            color:#fff;
        }
    }
}
.brend_icon{
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.icon_top{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
    .icon_top_left{
        p{
            margin-top: -10px;
            font-family: $font-family;
            font-weight: 500;
            font-size: 24px;
            color:gray;
        }
    }
    .icon_top_center{
        p{
            font-family: $font-family;
            font-weight: 500;
            font-size: 24px;
            color:gray;
        }
    }
    .icon_top_right{
        p{
            font-family: $font-family;
            font-weight: 500;
            font-size: 24px;
            color:gray;
        }
    }
}

.icon_bottom{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
    .icon_top_left{
        p{
            margin-top: -10px;
            font-family: $font-family;
            font-weight: 500;
            font-size: 24px;
            color:gray;
        }
    }
    .icon_top_center{
        p{
            font-family: $font-family;
            font-weight: 500;
            font-size: 24px;
            color:gray;
        }
    }
    .icon_top_right{
        p{
            font-family: $font-family;
            font-weight: 500;
            font-size: 24px;
            color:gray;
            margin-bottom: 200px;
        }
    }
}


.main_1_top{
    margin-top: 100px;
    text-align: center;
    p{
        font-family: $font-family;
            font-weight: 600;
            font-size: 36px;
    }
}

.main_1_bottom{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto  auto;
    align-items: center;
margin-top: 150px;
    margin-bottom: 20px;
}
.main_1_bottom_1{
    margin-top: -400px;
}
.main_1_bottom_2{
    margin-bottom: 200px;
}
.main_1_bottom_2{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.main_1_bottom_2{
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto;
    .bottom_2_left{
        display: flex;
        gap: 20px;
        margin-top: 10px;
    }
    .bottom_2_right{
        border-left:1px solid gray;
        display: flex;
        gap: 20px;
        padding: 10px;
    }
}
.card_menu{
    text-align: center;
    p{
        font-family: $font-family;
        font-weight: 600;
        font-size: 46px;
    }
}
.menu_bottom_2{
    display: grid;
    grid-template-columns: auto auto;
    border-bottom:2px solid gray;
    border-top:2px solid gray;
    margin-bottom: 20px;
    .bottom_1_left{
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        color: gray;
        margin-top: 60px;
    }
    .bottom_1_right{
        border-left:2px solid  gray;
        height: 180px;
        margin-top: 20px;
        p{
            font-family: $font-family;
        font-weight: 600;
        font-size: 32px;
        margin-left: 40px;
        }
        span{
            margin-left: 40px;
            font-family: $font-family;
            font-weight: 400;
            color:gray;
        }
    }
}
.menu_bottom_1{
    display: grid;
    grid-template-columns: auto auto;
    border-bottom:2px solid gray;
    margin-bottom: 20px;
    .bottom_1_left{
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        color: gray;
        margin-top: 60px;
    }
    .bottom_1_right{
        border-left:2px solid  gray;
        height: 180px;
        margin-top: 20px;
        p{
            font-family: $font-family;
        font-weight: 600;
        font-size: 32px;
        margin-left: 40px;
        }
        span{
            margin-left: 40px;
            font-family: $font-family;
            font-weight: 400;
            color:gray;
        }
    }
}

.menu_img{
    position: relative;
    img{
        position: absolute;
        top: -700px;
        width: 30%;
        left: 40px;
    }
}
aside{
    background-color:rgba(61, 74, 57, 1);   
 margin-top: 140px;
}
.aside{
    max-width: 1600px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.aside_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin-left: 30px;
    margin-top: 90px;
    p{
        font-family: $font-family;
        font-weight: 600;
        font-size: 46px; 
        color:#fff;
    }
    button{
        cursor: pointer;
        margin-top: 20px;
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        transition: all .5s ease;
        height: 60px;
        border:none;
        background-color:rgba(174, 123, 60, 1);
        color: #fff;
    }
    .chexbox{
        margin-top: 30px;
        display: flex ;
        gap: 10px;
        label{
            font-family: $font-family;
            color:#fff;
            font-size: 16px;
        }
    }
    button:hover{
        background-color:rgba(70, 70, 69, 0.533);
    }
    span{
        font-family: $font-family;
        font-weight: 500;
        font-size: 16px;
        color:#fff;
        margin-bottom: 40px;
    }
    input{
        border:none;
        border-bottom:2px solid #fff;
        background-color:rgba(61, 74, 57, 1);
    }
    .input_1{
        margin-bottom: 25px;
    }
    input,placeholder{
        padding: 10px;
        color:#fff;
        font-family: $font-family;
        font-weight: 500;
        font-size: 16px;
    }
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-bottom: 3px solid #8a8a8a;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
      }
      .file{
        margin-top: 25px;
       img{
        margin-right: 20px;
       }
      }
      input[type=text]:focus {
        border-bottom: 3px solid #ffffff;
      }
}
.section_p{
    margin-top: 140px;
    text-align: center;
    font-family: $font-family;
    font-weight: 600;
    font-size: 46px;
}
.section_1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 100px;
    margin-bottom:80px;
    .del_1{
        p{
            font-family: $font-family;
            font-weight: 600;
            color:gray; 
            font-size: 24px;
            border:2px solid gray;
            border-radius: 50px;
            width: 30px;
            padding: 10px;
        }
        section{
            font-family: $font-family;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 20px;
        }
        span{
            font-family: $font-family;
            font-weight: 500;
            font-size: 16px; 
            color:gray;
            line-height: 24px;
        }
    }
}
.corusela{
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: 200px;
}
.items {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    
  }
.card_itms{
margin-top: 450px;
text-align: center;
    .text_itms{
        .p1{
            font-family: $font-family;
            font-weight: 600;
            font-size: 24px;
        }
        .p2{
            font-family: $font-family;
            font-weight: 500;
            font-size: 18px;
            color:gray;
            margin-top: -20px;
            margin-left: -210px;
        }
    }
}
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 340px;
 
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 2;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }
  .corusel_text{
    text-align: center;
    p{   
        margin-top: 140px;
         font-family: $font-family;
         font-size: 46px;
         font-weight: 600;
    }

  }

@media screen and (max-width: 1440px){
    .menu_img{
        position: relative;
        img{
            position: absolute;
            top: -700px;
            width: 28%;
            height: 300px;
            left: 40px;
        }
    }
}
@media screen and (max-width: 1319px){
    .section_1{
        grid-template-columns: auto auto auto ;
    }
    .aside_right{
     width: 30%;
    }
    .aside{
        grid-template-columns: auto auto;
    }
    .aside_left{
        width: 85%;
        margin-left: 20px;
        margin-top: 30px;
        p{
            font-family: $font-family;
            font-weight: 600;
            font-size: 46px; 
            color:#fff;
        }
        button{
            cursor: pointer;
            margin-top: 10px;

        }
        .chexbox{
            margin-top: 20px;
        }
        .input_1{
            margin-bottom: 15px;
        }

    }
    .menu_img{
        position: relative;
        img{
            position: absolute;
            top: -700px;
            width: 25%;
            height: 280px;
            left: 40px;
        }
    }
}
@media screen and (max-width: 1263px){
    .card_itms{
        margin-top: 400px;
        text-align: center;
        
        }

    .items .item {
        width: 400px;
        height: 240px;
      }
}
@media screen and (max-width: 1226px){
    .card_itms{
        margin-top: 380px;
        text-align: center;
        
        }
    .items .item {
        width: 250px;
        height: 180px;
      }
     .items .button-container {
        width: 400px;

      }
    .bottom_1_left{
        width: 150px;
    }
    .menu_img{

        img{
            display: none;
        }
    }
    .main_card{
        display: grid;
        grid-template-columns: auto auto ;
    
    }
    .main_1_bottom_1{
        display: none;
    }
    .main_1_bottom_3{
        display: none;
    }
    .main_1_bottom{
        text-align: center;
    }
}
@media screen and (max-width: 1150px){
    .card_itms{
        margin-top: 390px;
        text-align: center;
        
        }
    .aside{
        grid-template-columns: auto;
        justify-content: center;
        gap: 20px;
    }
}
@media screen and (max-width: 1000px){
    .card_itms{
        margin-top: 390px;
        text-align: center;
        
        }
    .section_1{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 834px){
    .card_itms{
        margin-top: 390px;
        text-align: center;
        
        }
    .aside_right{
        img{
            width: 330%;
        }
    }
    .main_card{
        display: grid;
        grid-template-columns: auto;
    
    }
}
@media screen and (max-width: 667px){
    .card_itms{
        margin-top: 380px;
        text-align: center;
        
        }
    .section_1{
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 635px){
    .card_itms{
        margin-top: 350px;
        text-align: center;
        
        }
    .items .item {
        width: 150px;
        height: 140px;
      }
     .items .button-container {
        width: 200px;

      }
}
@media screen and (max-width: 546px){
    .card_itms{
        margin-top: 350px;
        text-align: center;
        
        }
     .bottom_1_left{
        width: 50px;
    }
    .main_1_bottom_2{
        grid-template-columns: auto;
       
    }
    .main_1_bottom_2{
        .bottom_2_right{
            border-left:1px;
          
        }
    }
    .icon_top{
        grid-template-columns: auto auto;
        
        }

    
    .icon_bottom{
        grid-template-columns: auto auto;

    }
    
}